* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: lightblue;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(10, 196, 50, 0.952);
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 1em;
  margin-left: 1em;
}

.nav li:last-child {
  margin-left: auto
}

.nav .greeting {
  color: darkcyan;
}
/*nest this one with sass*/
.nav li:last-child a{
  color:white;
  margin-left: 2em;
}

/*LogIn Component*/

.loginbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  max-width: 20em;
  font-size: 1rem;
  background: none;
  border: 2px solid black;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

/* Home Component: photo grid */

/*  Here is the fallback layout. It works in every browser,
even those that don't understand `@supports`. */
.photoGrid {
  max-width: 500px;
  margin: 0 auto;
}
.photoItem {
  margin: .2rem 0;
  max-width: 100%;
}

/*@supports (display: grid) {
   Undo the fallback layout. 
  .photoGrid { 
    max-width: none;
    margin: 0;
  }  
  .photoItem {
    margin: 0;
  }
   Create the Grid-based layout.  
  .photoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  .photoItem {
    max-width: 100%;
  }
} 
*/
@supports (display: grid) {

  /* Undo the fallback layout.  */
  .photoGrid { 
    max-width: none;
    margin: 0;
  }  
  .photoItem {
    margin: 0;
  }

  /* Create the Grid-based layout.   */
  .photoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1em;
    margin: 1em;
  }
  .photoItem {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  }
}

/* Add Component */
form {
  display: flex;
  flex-direction: row;
}

input {
  border: 2px solid black;
  padding: 20px;
  margin-right: 20px;
}

textarea {
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  margin-right: 20px;
}
button {
  font-size: 1rem;
  background: none;
  border: 2px solid black;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

/*Photo Component*/
/*put in sass variable to apply always to images:*/

.photoSoloBox {
  max-width: 800px;
  margin: 2rem auto;
}
.photoSolo {
  max-width: 100%;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.map {
  max-width: 100%;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

/*Edit Component*/
.row {
  display: flex;
  flex-direction: row;
}

